beautifulsoup4
customtkinter
dnspython
geocoder
matplotlib
numpy
opencv-python
pandas
Pillow
PyPDF2
pytesseract
requests
scikit-learn
scipy
shodan
tldextract
tk
streamlit
plotly
trafilatura
